<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-3">
    <h2>Categories</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Category 1</td>
        </tr>
        <tr>
          <td>Category 2</td>
        </tr>
        <tr>
          <td>Category 3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-9">
    <h2>Articles</h2>
    <%= render 'articles_table', articles: @articles %>
    <%= link_to 'Create a new Article', new_article_path %>
  </div>

</div>

<br>

