<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-3">

    <%= render 'categories_table', categories: @categories %>

  </div>

  <div class="col-9">

    <%= render 'articles_table', articles: @articles %>
    <%= link_to 'Create a new Article', new_article_path %>

  </div>

</div>
